body {
  width: 100%;
  height: 100vh;
  background: url(/assets/img/bg-img4.jpg) center / cover no-repeat;
}

.column-wrap {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.column-wrap .side-container {
  width: 36%;
}

.column-wrap .side-bar {
  padding: 20px;
  position: sticky;
  top: 30px;
  background: rgba(255, 255, 255, .2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.column-wrap .side-bar .title {
  font-size: 60px;
  line-height: 1;
  color: #fff;
}

.column-wrap .side-bar .list {
  display: flex;
  gap: 0 48px;
}

.column-wrap .side-bar .item {
  display: flex;
  align-items: center;
  position: relative;
}

.column-wrap .side-bar .item::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: rgba(255, 255, 255, .6);
  position: absolute;
  right: -34px;
}

.column-wrap .side-bar .item:last-child:after {
  display: none;
}

.column-wrap .side-bar .item .circle {
  width: 14px;
  height: 14px;
  border: solid 1px rgba(255, 255, 255, .6);
  border-radius: 50%;
  position: relative;
}

.column-wrap .side-bar .item.now .circle::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.column-wrap .side-bar .item .text {
  font-size: 14px;
  line-height: 1;
  margin-left: 6px;
  color: rgba(255, 255, 255, .6);
}

.column-wrap .side-bar .item.now .text {
  color: #fff;
}

.column-wrap .form-container {
  width: 62%;
  height: 1000px;
  background: rgba(255, 255, 255, .3);
}


