body {
  position: relative;
}

input[type="radio"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  position: relative;
  vertical-align: sub;
  margin-right: 5px;
}
input[type="radio"]::before, input[type="radio"]::after{
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
input[type="radio"]::before {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .6);
  height: 14px;
  width: 14px;
}
input[type="radio"]::after {
  background-color: #fff;
  opacity: 0;
  height: 6px;
  width: 6px;
}
input[type="radio"]:checked::after {
  opacity: 1;
}

.mountain-bg {
  width: 100%;
  height: 100vh;
  background: url(/assets/img/bg-img4.jpg) center / cover no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.mountain-bg::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


.gl-header {
  width: calc(100% - 40px);
  max-width: 1200px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.gl-header .logo {
  font-size: 40px;
  line-height: 1;
}

.gl-header .list {
  display: flex;
  gap: 0 20px;
}

.gl-header .item {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.column-wrap {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.column-wrap .side-container {
  width: 36%;
}

.column-wrap .side-bar {
  padding: 20px;
  position: sticky;
  top: 30px;
  background: rgba(255, 255, 255, .2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.column-wrap .side-bar .title {
  font-size: 60px;
  line-height: 1;
  color: #fff;
}

.column-wrap .side-bar .list {
  display: flex;
  gap: 0 48px;
}

.column-wrap .side-bar .item {
  display: flex;
  align-items: center;
  position: relative;
}

.column-wrap .side-bar .item::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: rgba(255, 255, 255, .6);
  position: absolute;
  right: -34px;
}

.column-wrap .side-bar .item:last-child:after {
  display: none;
}

.column-wrap .side-bar .item .circle {
  width: 14px;
  height: 14px;
  border: solid 1px rgba(255, 255, 255, .6);
  border-radius: 50%;
  position: relative;
}

.column-wrap .side-bar .item.now .circle::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.column-wrap .side-bar .item .text {
  font-size: 14px;
  line-height: 1;
  margin-left: 6px;
  color: rgba(255, 255, 255, .6);
}

.column-wrap .side-bar .item.now .text {
  color: #fff;
}

.column-wrap .form-container {
  width: 60%;
  height: 1000px;
  padding: 20px 0;
  border-top: solid 1px rgba(255, 255, 255, .4);
  color: #fff;
}

.column-wrap .form-container .form .list {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
}

.column-wrap .form-container .form .item .radio-wrap {
  display: flex;
  gap: 0 20px;
}

.column-wrap .form-container .form .item .label {
  display: inline-flex;
  align-items: center;
}

.column-wrap .form-container .form .item .question {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 8px;
}

.column-wrap .form-container .form .item .text {
  font-size: 16px;
  line-height: 1;
}

.column-wrap .form-container .form .input-wrap {
  display: flex;
  gap: 0 10px;
}

.column-wrap .form-container .form .input {
  width: 40%;
  height: 50px;
  padding: 0 10px;
  appearance: none;
  background-color: rgba(255, 255, 255, .3);
  border: solid 1px var(--red-color);
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
}

.column-wrap .form-container .form .input:focus-visible {
  border: solid 1px #fff;
  outline: none;
}

.column-wrap .form-container .form .input::placeholder {
  color: rgba(255, 255, 255, .6);
}

.column-wrap .form-container .submit-wrap {
text-align: right;
}

.column-wrap .form-container .submit-btn {
  width: 300px;
  height: 55px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
  border: solid 1px rgba(255, 255, 255, .4);
  border-radius: 12px;
  margin: 40px 0 0;
  cursor: pointer;
  transition: background-color 200ms ease,
  border 200ms ease;
}

.column-wrap .form-container .submit-btn:hover {
  background-color: rgba(255, 255, 255, .4);
  border: solid 1px rgba(255, 255, 255, .6);
}

.column-wrap .form-container.completed .title {
  font-size: 30px;
  line-height: 1;
}

.column-wrap .form-container.completed .text {
  font-size: 16px;
  line-height: 1;
  margin-top: 30px;
}




